
		<div class="col-xs-12">
     ようこそ、ながのCAKEへ！<br>
     このサイトは、ケーキ販売のECサイトになります。<br>
     会員でない方も商品の閲覧はできますが、<br>
     購入には会員登録が必要になります。<br>
        </div>
     <h4>新着商品</h4>
      <% @items.each do |item| %>
          
           
              <%= link_to public_item_path(item) do %>
              <%= image_tag 'no_image', size: "180x130" %>
               
              <% end %>
              
              <%= item.name %>
              ¥<%= (item.with_tax_price).floor.to_s(:delimited)%>(税込)
            
          <% end %>
     
  