<h2>会員一覧</h2>


<table class="table customer-table">
      <thead>
        <tr>
          <th class="active">会員ID</th>
          <th class="active">氏名</th>
          <th class="active">メールアドレス</th>
          <th class="active">ステータス</th>
        </tr>
      </thead>
      
      <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to (customer.last_name + customer.first_name),admin_customer_path(customer.id) %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <% if customer.is_valid == true %>
                 <span class="text-muted">退会</span>
              <% else %>
                 <span class="text-success">有効</span>
              <% end %>
            </td>
          </tr>
           <% end %>
      </tbody>
</table>


<%= paginate @customers %>
